<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1280}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,1280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1280}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{1,1283},{720,1280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1280}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{723,1},{720,1280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1280}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{1283,723},{720,1280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,70}</string>
                <key>spriteSourceSize</key>
                <string>{77,70}</string>
                <key>textureRect</key>
                <string>{{930,723},{77,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,70}</string>
                <key>spriteSourceSize</key>
                <string>{77,70}</string>
                <key>textureRect</key>
                <string>{{1009,723},{77,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,76}</string>
                <key>spriteSourceSize</key>
                <string>{100,76}</string>
                <key>textureRect</key>
                <string>{{723,723},{100,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,70}</string>
                <key>spriteSourceSize</key>
                <string>{101,70}</string>
                <key>textureRect</key>
                <string>{{723,801},{101,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>图层 77.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,65}</string>
                <key>spriteSourceSize</key>
                <string>{54,65}</string>
                <key>textureRect</key>
                <string>{{723,991},{54,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,66}</string>
                <key>spriteSourceSize</key>
                <string>{53,66}</string>
                <key>textureRect</key>
                <string>{{1088,723},{53,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,66}</string>
                <key>spriteSourceSize</key>
                <string>{85,66}</string>
                <key>textureRect</key>
                <string>{{723,904},{85,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>图层 91.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,66}</string>
                <key>spriteSourceSize</key>
                <string>{103,66}</string>
                <key>textureRect</key>
                <string>{{825,723},{103,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bgs.png</string>
            <key>size</key>
            <string>{2004,2004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0bfc27b15a89ab4be9190be575945d94:9ee48cc20498373b8ebceb02b1ee423a:bdcf9064d35eeebdf179ba82a47d2fb4$</string>
            <key>textureFileName</key>
            <string>bgs.png</string>
        </dict>
    </dict>
</plist>
