<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,442}</string>
                <key>spriteSourceSize</key>
                <string>{262,442}</string>
                <key>textureRect</key>
                <string>{{1,1},{262,442}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,390}</string>
                <key>spriteSourceSize</key>
                <string>{213,390}</string>
                <key>textureRect</key>
                <string>{{1,445},{213,390}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,389}</string>
                <key>spriteSourceSize</key>
                <string>{200,389}</string>
                <key>textureRect</key>
                <string>{{265,1},{200,389}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,65}</string>
                <key>spriteSourceSize</key>
                <string>{64,65}</string>
                <key>textureRect</key>
                <string>{{722,320},{64,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bearCookies.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,213}</string>
                <key>spriteSourceSize</key>
                <string>{226,213}</string>
                <key>textureRect</key>
                <string>{{393,418},{226,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bearcook.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,67}</string>
                <key>spriteSourceSize</key>
                <string>{55,67}</string>
                <key>textureRect</key>
                <string>{{796,272},{55,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coka.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,213}</string>
                <key>spriteSourceSize</key>
                <string>{226,213}</string>
                <key>textureRect</key>
                <string>{{494,203},{226,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dishbtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,90}</string>
                <key>spriteSourceSize</key>
                <string>{200,90}</string>
                <key>textureRect</key>
                <string>{{656,1},{200,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,85}</string>
                <key>spriteSourceSize</key>
                <string>{126,85}</string>
                <key>textureRect</key>
                <string>{{722,185},{126,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eatBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,90}</string>
                <key>spriteSourceSize</key>
                <string>{200,90}</string>
                <key>textureRect</key>
                <string>{{656,93},{200,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icecream.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,213}</string>
                <key>spriteSourceSize</key>
                <string>{226,213}</string>
                <key>textureRect</key>
                <string>{{621,418},{226,213}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,213}</string>
                <key>spriteSourceSize</key>
                <string>{227,213}</string>
                <key>textureRect</key>
                <string>{{265,203},{227,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kele.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,72}</string>
                <key>spriteSourceSize</key>
                <string>{46,72}</string>
                <key>textureRect</key>
                <string>{{722,272},{46,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>body.png</string>
            <key>size</key>
            <string>{864,659}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d3e6eab03060b8d2e7b1b2c253deab4:88a7eceb25f77924ec202e009bd96a7d:cf7eb93a918df2387d133e40f2ae67b4$</string>
            <key>textureFileName</key>
            <string>body.png</string>
        </dict>
    </dict>
</plist>
