<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FennecFox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,206}</string>
                <key>spriteSourceSize</key>
                <string>{200,206}</string>
                <key>textureRect</key>
                <string>{{985,294},{200,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,90}</string>
                <key>spriteSourceSize</key>
                <string>{319,90}</string>
                <key>textureRect</key>
                <string>{{69,393},{319,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{386,386}</string>
                <key>spriteSourceSize</key>
                <string>{386,386}</string>
                <key>textureRect</key>
                <string>{{391,1},{386,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flamingo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,217}</string>
                <key>spriteSourceSize</key>
                <string>{204,217}</string>
                <key>textureRect</key>
                <string>{{779,294},{204,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{388,390}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{388,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moonRabbit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,291}</string>
                <key>spriteSourceSize</key>
                <string>{238,291}</string>
                <key>textureRect</key>
                <string>{{779,1},{238,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>set_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{156,154}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1019,1},{156,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>图层 88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,85}</string>
                <key>spriteSourceSize</key>
                <string>{66,85}</string>
                <key>textureRect</key>
                <string>{{390,393},{66,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 91.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,66}</string>
                <key>spriteSourceSize</key>
                <string>{103,66}</string>
                <key>textureRect</key>
                <string>{{1,393},{103,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>图层 92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,73}</string>
                <key>spriteSourceSize</key>
                <string>{125,73}</string>
                <key>textureRect</key>
                <string>{{458,389},{125,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>friend.png</string>
            <key>size</key>
            <string>{1186,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3563125216a4d485758cc02d59132ff3:1d286cb633ce2cae47a87ee7174be7df:6b0a64026ae56fd16339d3c912c0f817$</string>
            <key>textureFileName</key>
            <string>friend.png</string>
        </dict>
    </dict>
</plist>
