<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bearCookies.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,213}</string>
                <key>spriteSourceSize</key>
                <string>{226,213}</string>
                <key>textureRect</key>
                <string>{{230,216},{226,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bearcook.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,67}</string>
                <key>spriteSourceSize</key>
                <string>{55,67}</string>
                <key>textureRect</key>
                <string>{{527,889},{55,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coka.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,213}</string>
                <key>spriteSourceSize</key>
                <string>{226,213}</string>
                <key>textureRect</key>
                <string>{{459,1},{226,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cookiesbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,95}</string>
                <key>spriteSourceSize</key>
                <string>{78,95}</string>
                <key>textureRect</key>
                <string>{{734,845},{78,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dishbtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,90}</string>
                <key>spriteSourceSize</key>
                <string>{200,90}</string>
                <key>textureRect</key>
                <string>{{778,216},{200,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,85}</string>
                <key>spriteSourceSize</key>
                <string>{126,85}</string>
                <key>textureRect</key>
                <string>{{1,861},{126,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eatBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,90}</string>
                <key>spriteSourceSize</key>
                <string>{200,90}</string>
                <key>textureRect</key>
                <string>{{457,797},{200,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,68}</string>
                <key>spriteSourceSize</key>
                <string>{53,68}</string>
                <key>textureRect</key>
                <string>{{457,889},{53,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icecream.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,213}</string>
                <key>spriteSourceSize</key>
                <string>{226,213}</string>
                <key>textureRect</key>
                <string>{{1,646},{226,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,213}</string>
                <key>spriteSourceSize</key>
                <string>{227,213}</string>
                <key>textureRect</key>
                <string>{{1,1},{227,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kele.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,72}</string>
                <key>spriteSourceSize</key>
                <string>{46,72}</string>
                <key>textureRect</key>
                <string>{{831,874},{46,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moquan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,213}</string>
                <key>spriteSourceSize</key>
                <string>{227,213}</string>
                <key>textureRect</key>
                <string>{{1,216},{227,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>petbtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,90}</string>
                <key>spriteSourceSize</key>
                <string>{200,90}</string>
                <key>textureRect</key>
                <string>{{870,216},{200,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>setbtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,90}</string>
                <key>spriteSourceSize</key>
                <string>{200,90}</string>
                <key>textureRect</key>
                <string>{{778,418},{200,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopcar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,149}</string>
                <key>spriteSourceSize</key>
                <string>{196,149}</string>
                <key>textureRect</key>
                <string>{{457,646},{196,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{596,889},{49,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>strawberryCookie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,213}</string>
                <key>spriteSourceSize</key>
                <string>{226,213}</string>
                <key>textureRect</key>
                <string>{{230,431},{226,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>studyBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,90}</string>
                <key>spriteSourceSize</key>
                <string>{200,90}</string>
                <key>textureRect</key>
                <string>{{778,510},{200,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tutu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,213}</string>
                <key>spriteSourceSize</key>
                <string>{227,213}</string>
                <key>textureRect</key>
                <string>{{230,1},{227,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warning.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,90}</string>
                <key>spriteSourceSize</key>
                <string>{319,90}</string>
                <key>textureRect</key>
                <string>{{686,216},{319,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>washBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,90}</string>
                <key>spriteSourceSize</key>
                <string>{200,90}</string>
                <key>textureRect</key>
                <string>{{686,537},{200,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>workBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,90}</string>
                <key>spriteSourceSize</key>
                <string>{200,90}</string>
                <key>textureRect</key>
                <string>{{778,602},{200,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yangtuo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,213}</string>
                <key>spriteSourceSize</key>
                <string>{227,213}</string>
                <key>textureRect</key>
                <string>{{1,431},{227,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>冰淇淋.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,213}</string>
                <key>spriteSourceSize</key>
                <string>{226,213}</string>
                <key>textureRect</key>
                <string>{{458,216},{226,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>可乐.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,213}</string>
                <key>spriteSourceSize</key>
                <string>{226,213}</string>
                <key>textureRect</key>
                <string>{{687,1},{226,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 81.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,65}</string>
                <key>spriteSourceSize</key>
                <string>{84,65}</string>
                <key>textureRect</key>
                <string>{{916,694},{84,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>图层 84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,66}</string>
                <key>spriteSourceSize</key>
                <string>{64,66}</string>
                <key>textureRect</key>
                <string>{{391,861},{64,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 85.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,73}</string>
                <key>spriteSourceSize</key>
                <string>{67,73}</string>
                <key>textureRect</key>
                <string>{{915,132},{67,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,63}</string>
                <key>spriteSourceSize</key>
                <string>{67,63}</string>
                <key>textureRect</key>
                <string>{{879,874},{67,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>图层 87.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,73}</string>
                <key>spriteSourceSize</key>
                <string>{66,73}</string>
                <key>textureRect</key>
                <string>{{659,866},{66,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>图层 88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,85}</string>
                <key>spriteSourceSize</key>
                <string>{66,85}</string>
                <key>textureRect</key>
                <string>{{255,861},{66,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 89.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,72}</string>
                <key>spriteSourceSize</key>
                <string>{79,72}</string>
                <key>textureRect</key>
                <string>{{912,780},{79,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>图层 90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,66}</string>
                <key>spriteSourceSize</key>
                <string>{85,66}</string>
                <key>textureRect</key>
                <string>{{323,861},{85,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>图层 91.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,66}</string>
                <key>spriteSourceSize</key>
                <string>{103,66}</string>
                <key>textureRect</key>
                <string>{{844,769},{103,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>图层 92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,73}</string>
                <key>spriteSourceSize</key>
                <string>{125,73}</string>
                <key>textureRect</key>
                <string>{{659,739},{125,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>图层 93.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,74}</string>
                <key>spriteSourceSize</key>
                <string>{108,74}</string>
                <key>textureRect</key>
                <string>{{734,769},{108,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,85}</string>
                <key>spriteSourceSize</key>
                <string>{124,85}</string>
                <key>textureRect</key>
                <string>{{129,861},{124,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 95.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,69}</string>
                <key>spriteSourceSize</key>
                <string>{129,69}</string>
                <key>textureRect</key>
                <string>{{915,1},{129,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>图层 97.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,73}</string>
                <key>spriteSourceSize</key>
                <string>{136,73}</string>
                <key>textureRect</key>
                <string>{{778,694},{136,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>小熊饼干.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,213}</string>
                <key>spriteSourceSize</key>
                <string>{226,213}</string>
                <key>textureRect</key>
                <string>{{229,646},{226,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>草莓饼干条.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,213}</string>
                <key>spriteSourceSize</key>
                <string>{226,213}</string>
                <key>textureRect</key>
                <string>{{458,431},{226,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dishs.png</string>
            <key>size</key>
            <string>{985,947}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c021e73f8d25faa81b48578a12ca398:067fb2d9d8149feb4331ff75ad21c99e:170e0a55732f4659cb0d70727228fb68$</string>
            <key>textureFileName</key>
            <string>dishs.png</string>
        </dict>
    </dict>
</plist>
